<!DOCTYPE html>
<html>
	<head>
		<title>Search</title>
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
	<body>
 		<div class="form" align="center">
	 		<form action="/result" method="POST">
				<!-- <label for="name" style="display:block"><b><h1>Pursuit</h1><b> </label> -->
				<img style="display:block" src="https://s-media-cache-ak0.pinimg.com/736x/2d/7d/72/2d7d72ebf55f23eb0aca11b7df9014c0.jpg" >
				<input id="name" type="text" style="font-size:20px; width:35%;" name="query"><br/>
				<br/>
				<button type="submit" class="btn btn-primary btn-mdm" style="width:10%" name="search">Search</button>
			</form>
		<div>
	</body>
</html>